.body-container{
    display: flex;
    flex-wrap: nowrap;
}
.body-container div:first-child{
    width: 52%;
}
.body-container div:last-child{
    width: 40%;
}
table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

th.mat-header-cell{
    font-weight: bold!important;
    color: black!important;
}
table{
    margin: 2% 2%;
    width: 45%;
    background: lightyellow;
    position: absolute;
}

th,td{
    font-size: 20px!important;
}

form{
    padding: 10px 1px 10px 1px!important;
}

.mat-dialog-content{
    border: 1px solid!important;
    margin: 0px 1px 0px 1px!important;
}

.error-message{
    color: red;
}

.addClass{
    margin-left: 32px;
}